/* styles for new note box */
body {
    font-family: Roboto;
    min-width: 520px;
    height: 1000px;
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

#note {
    width: 90%;
    margin: auto;
}


#new_note {
    /* background-color: aliceblue; */
    max-width: 600px;
    min-width: 245px;
    border-radius: 10px;
}

#new_note:hover {
    border-color:turquoise;

}

/* new note small box */
#new_note_small p {
    font-weight: bold;
    color: #767976;
    cursor: text;
    width: 75%;
    margin:auto;
}

#new_note_small i {
    padding: auto;
    color: #202124;
    opacity: .6;
    margin: auto auto;
}

#new_note_small i:hover{
    opacity: 1;
    cursor: pointer;
}

/* new note box expanded  and update box*/
#new_note_expanded  *:focus, #update_note *:focus{
    outline: none !important;
}

#new_note_expanded > *, #update_note > * {
    background-color: inherit;
    border: 0px;
}

#new_note_expanded .card-header, #update_note .card-header{
    padding-right: 2px;
}

#note_title_input, #update_title{
    font-weight:bold;
    font-size: 120%;
    width: 80%;
    display: inline-block !important;
    margin: auto;
}

#new_note_expanded .card-header > i, #update_note .card-header > i {
    color: #202124;
    opacity: 0.6;
    margin: auto;
    float: right;
    margin-right: 2%;
    margin-left: 2%;
}

#new_note_expanded i:hover, #update_note i:hover{
    opacity: 1;
    cursor: pointer;
}

/* placeholder for contenteditable */
#new_note_expanded [contenteditable=true]:empty::before, #update_note [contenteditable=true]:empty::before{
    content: attr(data-placeholder);
    color: #8e928e;
    font-weight: bold;
}

#note_content_input, #update_content{
    max-height: 500px;
    overflow: auto;
    white-space: pre-wrap;
}

#note_content_input::-webkit-scrollbar-track, #update_content::-webkit-scrollbar-track {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
}

#note_content_input::-webkit-scrollbar, #update_content::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#note_content_input::-webkit-scrollbar-thumb, #update_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    /* from(#7f807e),
    to(#dcdfdc), */
    color-stop(0.6, #767976)
    );
}

/* styles for new note extended card footer */
#new_note_expanded > .card-footer > .icons, #update_note > .card-footer > .icons{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

#new_note_expanded > .card-footer > .icons > i, #update_note > .card-footer > .icons > i{
    margin: 0 2% 0 0;
    vertical-align: middle;
}

#new_note_expanded > .card-footer > button, #update_note > .card-footer > button {
    border: none;
    background-color: transparent;
    float: right;
    padding: 1% 3%;
    vertical-align: middle;
}
#new_note_expanded > .card-footer > button:hover, #update_note > .card-footer > button:hover {
    background-color: whitesmoke;
}

/* color circles at the footer */
.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover, .selected_dot {
    border: solid 2px black;
}

/* following are the styles for existing notes cards */
#existing_notes {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    margin-top: 10%;
    margin-left: auto;
    margin-right:auto;
    background-color: transparent;
}

.saved_note {
    float: left;
    margin: 0% 1%;
    border-radius: 10px;
    border: 1px solid rgba(100,100,100,0.5);
    min-width: 240px;
    min-height: 240px;
    max-height: 480px;
    margin-bottom: 2%;
}

.saved_note > * {
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 20%;
}

.saved_note .card-header {
    padding-right: 2px;
}

.saved_note .note_title {
    display: inline-block;
    font-weight:bold;
    font-size: 120%;
    color: #202124;
    max-width: 90%;
}

.saved_note .card-header > i {
    color: #202124;
    opacity: 0.6;
    margin: auto;
    float: right;
    margin-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}

.saved_note .note_content {
    color: #202124;
    padding-top: 5%;
    padding-bottom: 5%;
}

.saved_note .card-footer {
    padding-right: 2%;
    padding-bottom: 2%;
    vertical-align: middle;
}
.saved_note .card-footer i {
    float: right;
    vertical-align: middle;
    margin-bottom: 2%;
    opacity: 0.6;
    cursor: pointer;
}

/* .saved_note i {
    display: none;
}
.saved_note i:hover {
    display: inline;
} */

@media screen and (max-width: 775px) {
    .saved_note {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}